version: '3.8'
services:
  db:
    image: postgres:16-alpine
    container_name: conceitual-pet-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: conceitual_pet
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: